services:
    db:
        image: mariadb:latest
        environment:
            MARIADB_ROOT_PASSWORD: root
            MARIADB_DATABASE: chatdb
        volumes:
            - db_data:/var/lib/mysql
        ports:
            - "3306:3306"

    backend:
        command: "uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload"
        build: ./api
        ports:
            - "8000:8000"
        volumes:
            - ./api:/app
        depends_on:
            - db

    frontend:
        command: "npm run dev --verbose"
        build: ./ui
        ports:
            - "4173:4173"
        volumes:
            - ./ui/src:/src
        depends_on:
            - backend

volumes:
    db_data:
