services:
    db:
        image: mariadb:latest
        environment:
            MARIADB_ROOT_PASSWORD: root
            MARIADB_DATABASE: chatdb
        volumes:
            - db_data:/var/lib/mysql
        ports:
            - "3306:3306"

    backend:
        build: ./api
        ports:
            - "8000:8000"
        depends_on:
            - db

    frontend:
        build: ./ui
        ports:
            - "4173:4173"
        depends_on:
            - backend

volumes:
    db_data:
